* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins';
}

body .wrapper {
  width: 975px;
  height: 600px;
  background: #252B42;
  border-radius: 20px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
}

body .wrapper__sidebar {
  position: fixed;
  width: 90px;
  height: calc(100% - 125px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-size: 30px;
  color: #7F88A9;
  background: #1A2036;
  border-radius: 20px;
}

body .wrapper__sidebar i {
  padding: 10px;
  border-radius: 12px;
  -webkit-transition: .2s;
  transition: .2s;
}

body .wrapper__sidebar i:hover {
  background: #252B42;
  cursor: pointer;
}

body .wrapper__content {
  width: 100%;
  padding: 20px 40px;
  margin-left: 80px;
}

body .wrapper__content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  color: #7F88A9;
  font-size: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper__content__header--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

body .wrapper__content__header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 15px;
  background: #1A2036;
}

body .wrapper__content__header--right i {
  cursor: pointer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper__content__header--right :first-child {
  border-radius: 12px 0 0 12px;
}

body .wrapper__content__header--right :last-child {
  border-radius: 0 12px 12px 0;
}

body .wrapper__content__body {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .wrapper__content__body .card {
  width: 170px;
  height: 190px;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 5px #000;
          box-shadow: 2px 2px 5px #000;
  color: #7F88A9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  cursor: pointer;
}

body .wrapper__content__body .card__create {
  background: #2E3650;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  gap: 15px;
}

body .wrapper__content__body .card__create :first-child {
  padding: 20px;
  border-radius: 50%;
  background: #252B42;
}

body .wrapper__content__body .card__item {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  background: #1A2036;
  padding: 30px 0;
  gap: 5px;
}

body .wrapper__content__body .card__item--online::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #8E66FF;
  top: 0;
  right: 0;
  border-radius: 50%;
  -webkit-transform: translate(-10px, 10px);
          transform: translate(-10px, 10px);
}

body .wrapper__content__body .card__item--img img {
  height: 60px;
  width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

body .wrapper__content__body .card__item--name {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

body .wrapper__content__body .card__item--member {
  font-size: 14px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

body .wrapper .active {
  background: #252B42;
}
/*# sourceMappingURL=style.css.map */